//VARIABLES
$primary: #35374b;
$secondary: #344955;
$backGround: #e9e1db;
$dark: #281713;
$light: #fff;
$delete: #d04848;
$configIconColor: #f8f4ec;
$boxShadow: -7px 10px 5px 1px rgb(168, 168, 168);
$emergencyAlertColor: #d04848;
$testAlertColor: #fc6736;
$buttonBgc: #f0f0f0;

//ATTRIBUTE
$transition: all ease-in-out 0.3s;
$boxShadow: -7px 10px 5px 1px rgb(168, 168, 168);

//RES
$large: 1290px;
$desktopMax: 1289.98px;
$desktopMin: 992px;
$tabletMax: 991.98px;
$tabletMin: 768px;
$mobileMax: 767.98px;
$mobileMin: 576px;
$tiny: 575.98px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Rale";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
}

.admin_container {
  position: relative;
  min-height: 100vh;
  background-color: $backGround;
  padding-bottom: 10rem;
  z-index: 0;
  width: 100%;
  .count__deivce {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    background-color: $secondary;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: $light;
    z-index: 3;
    @media (max-width: $mobileMax) {
      font-size: 1.5rem;
    }
    .count__number {
      font-size: 3rem;
      @media (max-width: $mobileMax) {
        font-size: 2rem;
      }
    }
  }
  .setting__container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    .setting__content {
      position: fixed;
      right: 0;
      height: 100%;
      &:hover {
        transition: $transition;
        .setting__config {
          right: 0;
          transition: $transition;
        }
      }
      .setting__icon {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        z-index: -1;
        background-color: transparent;
        border: 0.2rem solid $secondary;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;
        .icon {
          font-size: 2rem;
          color: $secondary;
        }
      }
      .setting__config {
        position: fixed;
        bottom: 0;
        right: -100rem;
        height: 60rem;
        background-color: $light;
        transition: $transition;
        box-shadow: $boxShadow;
        // padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-top-left-radius: 1rem;
        @media (max-width: $mobileMax) {
          // height: 85%;
        }
        .config {
          width: 100%;
          font-size: 5rem;
          text-align: center;
          padding: 1rem 0;
          color: $light;
          text-transform: uppercase;
          transition: $transition;
          height: 7rem;
          &.active {
            background-color: #0d9276;
          }
        }
        .config__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5rem;
          padding-bottom: 5rem;
          padding: 3rem 4rem;
          .config__nav {
            display: flex;
            align-items: center;
            gap: 2rem;
            .config__icon {
              background-color: $light;
              padding: 0.8rem 3rem;
              border-radius: 1rem;
              color: $light;
              cursor: pointer;
              .icon {
                font-size: 2.5rem;
                color: $secondary;
              }
              &.active {
                background-color: $secondary;
                .icon {
                  font-size: 2.5rem;
                  color: $light;
                }
              }
            }
            .config__line_vertical {
              height: 4rem;
              width: 0.3rem;
              background-color: $dark;
            }
          }
          .config__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            background-color: $backGround;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            box-shadow: $boxShadow;
            @media (max-width: $mobileMax) {
              padding: 2rem 1.5rem;
            }
            .config__item_content {
              display: flex;
              flex-direction: column;
              gap: 2rem;
              input {
                width: 35rem;
                outline: none;
                border: none;
                border-bottom: 0.2rem solid $dark;
                font-size: 2rem;
                padding: 0.5rem 1rem;
                background-color: transparent;
                @media (max-width: $mobileMax) {
                  width: 27rem;
                }
              }
            }
            .config__item_list {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              width: 35rem;
              gap: 2rem;
              @media (max-width: $mobileMax) {
                width: 27rem;
              }
              .item {
                width: 45%;
                background-color: #c9c8c5;
                display: flex;
                justify-content: center;
                padding: 1rem 2rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                gap: 2rem;
                cursor: pointer;
                @media (max-width: $mobileMax) {
                  width: 45%;
                  padding: 0.5rem 1rem;
                }
                .item__lable {
                  font-size: 1.2rem;
                  font-weight: 900;
                  color: $dark;
                }
              }
            }
            .config__item_btn {
              background-color: $secondary;
              width: 100%;
              text-align: center;
              padding: 1rem 0;
              font-size: 1.8rem;
              font-weight: 600;
              color: $light;
              border-radius: 1rem;
              cursor: pointer;
              @media (max-width: $mobileMax) {
                font-size: 1.5rem;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .deivce__info{
    position: absolute;
    bottom: 2rem;
    left: 0;
    z-index: 5;
    background-color: $primary;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: $boxShadow;
    flex-wrap: wrap;
    .boxes{
      display: flex;
      gap: 5rem;
      .deivce__info_box{
      border-radius: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      padding: .5rem 1rem;
      border: .2rem solid $light;
      // background-color: $light;
      // flex-direction: column;
      &.highlight__box{
        background-color: $light;
      }
        .deivce__info_text{
          color: $light;
          font-size: 2rem;
          display: flex;
          align-items: center;
          font-weight: 600;
          gap: 1rem;
          .device__percent{
            font-weight: 600;
          }
          &.highlight__text{
            color: $primary;
          }
        }
      }
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $light;
    box-shadow: 0rem 0rem 2rem rgb(175, 175, 175);
    .header__content {
      @media (max-width: $large) {
        max-width: 1090px !important;
        margin: 0 auto;
      }
      @media (min-width: $desktopMin) and (max-width: $desktopMax) {
        max-width: 950px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
      @media (min-width: $tabletMin) and (max-width: $tabletMax) {
        max-width: 750px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
      @media (min-width: $mobileMin) and (max-width: $mobileMax) {
        max-width: 550px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
      }
      @media (max-width: $tiny) {
        max-width: 550px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0rem 4rem 0rem;
      }
      max-width: 1490px !important;
      margin: 0 auto;
      padding: 4rem 0rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__headline {
        @media (min-width: $tabletMin) and (max-width: $tabletMax) {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-self: center;
          gap: 3rem;
        }
        @media (min-width: $mobileMin) and (max-width: $mobileMax) {
          max-width: 550px !important;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5rem;
        }
        @media (max-width: $tiny) {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-self: center;
          gap: 2rem;
        }
        display: flex;
        align-items: center;
        gap: 5rem;
        .headline__logo {
          position: relative;
          .headline__title {
            font-size: 3rem;
            font-weight: 900;
            color: $light;
            text-transform: uppercase;
            padding: 1rem;
            background-color: $primary;
            border-radius: 1rem;
            @media (max-width: $tabletMax) {
              cursor: pointer;
              margin-bottom: 1rem;
            }
          }
          .plus__icon_mobile {
            position: absolute;
            right: -7px;
            bottom: -5px;
            background-color: $secondary;
            padding: 0.5rem;
            border-radius: 50%;
            .plus__icon {
              font-size: 2rem;
              color: $light;
            }
          }
        }
        .headline__create {
          display: flex;
          align-items: center;
          gap: 3rem;
          width: 100%;
          background-color: $backGround;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 3rem;
          border-radius: 1rem;
          box-shadow: $boxShadow;
          @media (max-width: $mobileMax) {
            flex-direction: column;
            justify-content: center;
          }
          .create__input_container {
            width: 60%;
            display: flex;
            gap: 3rem;
            @media (max-width: $mobileMax) {
              flex-direction: column;
              justify-content: center;
              width: 100%;
            }
            .create__device {
              width: 10rem;
              @media (max-width: $mobileMax) {
                width: 25rem;
              }
            }
            .create__owner {
              width: 20rem;
            }
            input {
              background-color: transparent;
              outline: none;
              border: none;
              padding: 0.5rem 1rem;
              font-size: 2rem;
              font-weight: 900;
              border-bottom: 0.2rem solid $dark;
            }
          }
          .create__btn_container {
            display: flex;
            gap: 2rem;
            @media (max-width: $mobileMax) {
              display: flex;
              flex-direction: column;
              width: 100%;
            }
            .create__btn {
              background-color: $secondary;
              outline: none;
              border: $light;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 1rem;
              @media (max-width: $mobileMax) {
                width: 100%;
                border-radius: 1rem;
                margin-left: 0;
                margin-top: 2rem;
              }
              .create__btn_icon {
                font-size: 4rem;
                color: $light;
              }
            }
            .import__btn {
              outline: none;
              border: 0.2rem solid $secondary;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 1rem;
              @media (max-width: $mobileMax) {
                width: 100%;
                border-radius: 1rem;
                margin-left: 0;
              }
              .import__btn_icon {
                font-size: 2rem;
                color: $secondary;
              }
            }
          }
        }
        .more__than_mobile {
          @media (max-width: $tabletMax) {
            display: none;
          }
        }
      }
      .header__search {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 3rem;
        &:hover {
          transition: $transition;
        }
        .search__container {
          display: flex;
          align-items: center;
          background-color: $backGround;
          padding: 1rem 1.5rem;
          gap: 2rem;
          border-radius: 1rem;
          box-shadow: $boxShadow;
          transition: $transition;
          .search__count {
            font-size: 1.5rem;
            color: $dark;
            font-weight: 600;
            .count__number {
              font-size: 3rem;
              font-weight: 600;
            }
          }
          .search_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
              padding: 0.5rem 1rem;
              outline: none;
              border: none;
              background-color: transparent;
              border-bottom: 0.2rem solid $dark;
              font-size: 1.5rem;
              font-weight: 600;
              width: 60%;
            }
            .search__btn {
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              background-color: $secondary;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .search__btn_icon {
                color: $light;
                font-size: 1.5rem;
              }
            }
            .clear__btn {
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              background-color: transparent;
              border: 0.2rem solid $secondary;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .clear__btn_icon {
                color: $secondary;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
    .fire {
      position: relative;
      z-index: 99;
      width: 100%;
      background-color: #d04848;
      font-size: 7rem;
      text-align: center;
      padding: 2rem 0;
      color: $light;
      display: flex;
      align-items: center;
      justify-content: center;
      .alert__id {
        font-size: 4rem;
        margin-left: 2rem;
      }
    }
    .test {
      position: relative;
      z-index: 99;
      width: 100%;
      background-color: #fc6736;
      font-size: 7rem;
      text-align: center;
      padding: 2rem 0;
      color: $light;
      display: flex;
      align-items: center;
      justify-content: center;
      .alert__id {
        font-size: 4rem;
        margin-left: 2rem;
      }
    }
  }
  .content {
    @media (min-width: $large) {
      max-width: 1290px !important;
      margin: 0 auto;
    }
    @media (min-width: $desktopMin) and (max-width: $desktopMax) {
      max-width: 950px !important;
      margin: 0 auto;
    }
    @media (min-width: $tabletMin) and (max-width: $tabletMax) {
      max-width: 750px !important;
      margin: 0 auto;
    }
    @media (min-width: $mobileMin) and (max-width: $mobileMax) {
      max-width: 550px !important;
      margin: 0 auto;
    }
    @media (max-width: $tiny) {
      max-width: 550px !important;
      margin: 0 auto;
    }
    padding-top: 10rem;
    .device__list {
      @media (max-width: $desktopMax) {
        gap: 5rem;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .device {
        position: relative;
        width: 31%;
        background-color: $light;
        padding: 2rem;
        border-radius: 1.5rem;
        box-shadow: $boxShadow;
        margin-top: 10rem;
        cursor: pointer;
        @media (max-width: $tabletMax) {
          width: 80%;
        }
        .device__name {
          background-color: $secondary;
          width: 100%;
          font-size: 1.5rem;
          color: $light;
          text-align: center;
          padding: 1rem;
          border-radius: 1rem;
          font-weight: 600;
        }
        .device__headline {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .device__name {
            background-color: $secondary;
            width: 45%;
            font-size: 1.5rem;
            color: $light;
            text-align: center;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 600;
          }
          .device__info_get {
            background-color: $light;
            width: 10%;
            font-size: 1.5rem;
            color: $secondary;
            text-align: center;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: 600;
            border: 0.2rem solid $secondary;
            cursor: pointer;
          }
        }
        .device__count_reset {
          background-color: $light;
          width: 33%;
          font-size: 1.5rem;
          color: $secondary;
          text-align: center;
          padding: 1rem;
          border-radius: 1rem;
          font-weight: 600;
          border: 0.2rem solid $secondary;
        }
        .device_detele {
          position: absolute;
          top: -1.3rem;
          right: -1.3rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-color: $delete;
          color: $light;
          border: none;
          cursor: pointer;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
  .alert__box {
    width: 100%;
    padding-top: 10rem;
    background-color: transparent;
  }
  .alert__box_unactive {
    height: 10rem;
    width: 100%;
  }
}
