//VARIABLES
$primary: #000;
$backGround: #e9e1db;
$dark: #000;
$light: #fff;
$delete: #d04848;
$boxShadow: -7px 10px 5px 1px rgb(168, 168, 168);

//RES
$large: 1290px;
$desktopMax: 1289.98px;
$desktopMin: 992px;
$tabletMax: 991.98px;
$tabletMin: 768px;
$mobileMax: 767.98px;
$mobileMin: 576px;
$tiny: 575.98px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Rale";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  min-height: 100vh;
  background-color: $backGround;
  font-family: Rale;
  padding-bottom: 10rem;
  z-index: 0;
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $backGround;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.5rem;
      background-color: $dark;
    }
    .header__content {
      @media (min-width:$large){
        max-width: 1290px !important;
        margin: 0 auto;
      }
      @media (min-width: $desktopMin) and (max-width: $desktopMax)
      {
        max-width: 950px !important;
        margin: 0 auto;
      }
      @media (min-width: $tabletMin) and (max-width: $tabletMax){
        max-width: 750px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
      @media (min-width: $mobileMin) and (max-width: $mobileMax){
        max-width: 550px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
      @media (max-width: $tiny){
        max-width: 550px !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
      padding: 2rem 0rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__headline {
        @media (max-width: $tiny){
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-self: center;
        }
        display: flex;
        align-items: center;
        gap: 5rem;
        .headline__title {
          font-size: 6rem;
          font-weight: 600;
        }
        .headline__create {
          display: flex;
          align-items: center;
          gap: 2rem;
          input {
            background-color: #bebebe;
            outline: none;
            border: none;
            padding: 1rem 2rem;
            border-radius: 3rem;
            font-size: 2rem;
            font-weight: 400;
          }
          .create__btn {
            background-color: $dark;
            outline: none;
            border: $light;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            font-size: 4rem;
            cursor: pointer;
            color: $light;
          }
        }
      }
      .header__menu {
        display: flex;
        justify-content: center;
        gap: 5rem;
        .menu__item {
          text-decoration: none;
          color: $dark;
          font-size: 1.5rem;
          font-weight: 900;
          padding: 1rem 2.5rem;
          background-color: $light;
          border-radius: 2rem;
          text-transform: uppercase;
        }
      }
    }
    .fire {
      width: 100%;
      background-color: #d04848;
      font-size: 7rem;
      text-align: center;
      padding: 2rem 0;
      color: $light;
    }
    .test {
      width: 100%;
      background-color: #fc6736;
      font-size: 7rem;
      text-align: center;
      padding: 2rem 0;
      color: $light;
    }
  }
  .content {
    @media (min-width:$large){
      max-width: 1290px !important;
      margin: 0 auto;
    }
    @media (min-width: $desktopMin) and (max-width: $desktopMax)
    {
      max-width: 950px !important;
      margin: 0 auto;
    }
    @media (min-width: $tabletMin) and (max-width: $tabletMax){
      max-width: 750px !important;
      margin: 0 auto;
      padding-top: 25rem;

    }
    @media (min-width: $mobileMin) and (max-width: $mobileMax){
      max-width: 550px !important;
      margin: 0 auto;
      padding-top: 25rem;

    }
    @media (max-width: $tiny){
      max-width: 550px !important;
      margin: 0 auto;
      padding-top: 35rem;
    }
    padding-top: 20rem;
    .device__list {
      @media (min-width:$large){

      }
      @media (min-width: $desktopMin) and (max-width: $desktopMax)
      {
      }
      @media (min-width: $tabletMin) and (max-width: $tabletMax){
        justify-content: center;
        gap: 10rem;
      }
      @media (min-width: $mobileMin) and (max-width: $mobileMax){
        justify-content: center;
        gap: 10rem;
      }
      @media (max-width: $tiny){
        justify-content: center;
        gap: 10rem;
      }
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 14rem;
      .device {
        @media (min-width:$large){
          width: 26%;
        }
        @media (min-width: $desktopMin) and (max-width: $desktopMax)
        {
          width: 40%;
        }
        @media (min-width: $tabletMin) and (max-width: $tabletMax){
          width: 60%;

        }
        @media (min-width: $mobileMin) and (max-width: $mobileMax){
          width: 80%;
        }
        @media (max-width: $tiny){
          width: 80%;

        }
        position: relative;
        height: 55rem;
        width: 25%;
        background-color: $light;
        padding: 2rem;
        border-radius: 1.5rem;
        box-shadow: $boxShadow;
        .device__name {
          background-color: $dark;
          width: 100%;
          font-size: 1.5rem;
          color: $light;
          text-align: center;
          padding: 1rem;
          border-radius: 1rem;
          font-weight: 600;
        }
        .device__info {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-top: 2rem;
          padding: 2rem 2.5rem;
          .line {
            height: 0.1rem;
            background-color: #000;
            width: 100%;
          }
          .info__version {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 100%;
            justify-content: space-between;
            .info__name {
              font-size: 1.7rem;
              font-weight: 600;
              width: 30%;
            }
            .info__value {
              font-size: 2rem;
              font-weight: 900;
            }
          }
          .info__connection {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            .info__name {
              font-size: 1.7rem;
              font-weight: 600;
              width: 30%;
            }
            .info__conpri {
              .conpri__list {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .info__value {
                  font-size: 1.5rem;
                  font-weight: 600;
                  padding: 0.5rem 2rem;
                  border-radius: 0.5rem;
                  font-weight: 900;
                  color: $dark;
                }
                .active {
                  background-color: #fc9e70;
                  color: $light;
                }
              }
            }
          }
          .info__group {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 3rem;
            .info__name {
              font-size: 1.7rem;
              font-weight: 600;
              width: 30%;
            }
            .info__conpri {
              display: flex;
              align-items: center;
              gap: 2rem;
              width: 100%;
              justify-content: space-between;
              .info__name {
                font-size: 1.7rem;
                font-weight: 600;
                width: 30%;
              }
              .conpri__list {
                display: flex;
                .info__value {
                  font-size: 1.5rem;
                  font-weight: 600;
                  padding: 0.5rem 2rem;
                  border-radius: 0.5rem;
                  font-weight: 600;
                  color: $dark;
                }
                .active {
                  background-color: #fc9e70;
                  color: $light;
                }
              }
            }
          }
        }
        .welcome {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .welcome__content {
            .welcome__text {
              text-align: center;
              font-size: 1.5rem;
              font-style: italic;
              font-weight: 600;
              margin-bottom: 2rem;
              color: #7e7e7e;
            }
          }
        }
        .device_detele {
          position: absolute;
          top: -1.2rem;
          right: -1.2rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-color: $delete;
          color: $light;
          border: none;
          cursor: pointer;
          font-weight: 600;
        }
      }
      .emergency__container {
        width: 100%;
        background-color: #d04848;
      }
    }
  }
  .alert__box{
    width: 100%;
    padding-top: 10rem;
    background-color: transparent;
  }
}
